<nav>      
<div class="container-fluid" id="micro-custom-nav">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MicroMeteoriteCite</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/Gallery">Image Gallery</a></li>
          <li><a href="/worldMap">Meteorite Map</a></li>
          <li><a href="/newMeteoriteSubmissionForm">Submit a Meteorite</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
